@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.tab-content {
    display: none;
}
.tab-content.active{
    display: block;
}

.buttonAzul{
    background: blue;
    border: 2px solid blue;
    color: white;
    font-size: bold;
    border-radius: 4px;
}

.buttonAzul:hover{
    background: transparent;
    color: blue;
}

.color-box{
    display: flex;
    position: absolute;
    background: blue;
    height: 75%;
}

.color-boxT1 {
    position: absolute;
    margin-right: 50px;
    background: blue;
    height: 95%;
    z-index: 1;  
}

.color-boxT2 {
    position: absolute;
    margin-right: 50px;
    background: blue;
    height: 80%;
    z-index: 1;
}

.color-boxT3 {
    position: absolute;
    margin-right: 50px;
    background: blue;
    height: 90%;
    z-index: 1;
}

.faQs-Style{
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-contatc{
    width: 100%;
    color: white;

}

.footer-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.redes:hover{
    background-image: repeating-linear-gradient(229, 31%, 21%);   
}